.single-item-post-type {
  background:url(../images/bg-bond-detail.png) top left $exhibit-detail-body-background;
  background-size:cover;
  header#header {
    >div:first-of-type {
      >div {
        #branding {
          #site-title {
            &,& a {
              color:$exhibit-detail-meta-heading-color;
            }
          }
        }
      }
    }
  }

  .exhibit {
    @include flex-grid-row;
    background-color:rgba($black,0.5);
    width: 90%;
    max-width:90%;
    margin:0 auto;
    padding: 1.5% 2%;
    outline: 1.5px solid $light-blue;
    outline-offset: -5px;
    @include breakpoint(medium) {
      @include horizontal-center();
      top:rem-calc(80px);
      bottom:rem-calc(80px);
    }

    .back-to-listing {
      position:absolute;
      right:rem-calc(-45px);
      top:rem-calc(0);
      padding:rem-calc(5px) rem-calc(10px);
      border:1px solid $white;
      display:block;
      font-weight:bold;
      font-size:rem-calc(20px);
    }

    .images {
      @include breakpoint(medium) {
        @include flex-grid-column(6);
        position:relative;
        left:((-100% / $grid-columns) * 6);
      }

      img {
        @include absolute-center;

        @include img-fit(95%,95%);
      }
      .image-front {
        margin-bottom:rem-calc(20px);
      }
      .image-front,
      .image-back {
        position:absolute;
        top:0;
        bottom:50%;
        width:95%;
        a {
          position:relative;
          display:block;
          overflow:hidden;
          width:100%;
          height:92%;
          background:rgba($black, 0.6);
        }
        p {
          color:$exhibit-detail-meta-heading-color;
          text-transform:uppercase;
          margin:rem-calc(2px) 0 0;
          &.image-position {
            position:absolute;
            top:92%;
          }
        }
      }
      .image-back {
        top:50%;
        bottom:0;
        a {

        }
      }
    }
    .meta {
      @include breakpoint(medium) {
        @include flex-grid-column(6);
        position:relative;
        left:(( 100% / $grid-columns ) * 6);
        overflow-y:auto;
        margin-bottom:rem-calc(10px);
      }

      >header:first-of-type{

      }
      >div+div {
        margin-top:rem-calc(15px);
      }
    }

    h1 {
      @include heading(2);
      margin-bottom:rem-calc(15px);
    }
    h2 {
      @include heading(3);
      @include underline();
    }
    .accession {
      position:absolute;
      bottom:rem-calc(5px);
      right:rem-calc(15px);
      h2,p {
        @include bodycopy;
        display:inline;
        font-size:rem-calc(10px);
        color:$light-blue;
        text-transform:uppercase;
        &:after {
          border-bottom:0;
        }
      }
    }
  }
}
