.single-item-post-type {
  @include background($medium-blue, $dark-blue, url(../images/bg-bond-tonopah.png));
  header#header {
    >div:first-of-type {
      >div {
        #branding {
          #site-title {
            &,& a {
              color:$exhibit-detail-meta-heading-color;
            }
          }
        }
      }
    }
  }

  .exhibit {
    @include flex-grid-row;
    background-color:rgba($black,0.5);
    width: 95%;
    max-width:95%;
    margin:0 auto;
    padding: 1.5% 5%;
    outline: 1.5px solid $light-blue;
    outline-offset: -5px;
    @include breakpoint(medium) {
      width: 90%;
      max-width:90%;
      padding: 1.5% 2%;
      @include horizontal-center();
      top:rem-calc(120px);
      bottom:rem-calc(80px);
    }

    .back-to-listing {
      @include back-button();
      font-size:rem-calc(40px);
      position:absolute;
      right: 9px;
      top: 40px;
      @include breakpoint(medium) {
        font-size:rem-calc(50px);
        right: rem-calc(-50px);
        top: rem-calc(-10px);
      }
    }

    .images {
      text-align:center;
      @include breakpoint(medium) {
        text-align:left;
        @include flex-grid-column(6);
        position:relative;
        left:((-100% / $grid-columns) * 6);
      }

      img {
        @include img-fit(95%,95%);
        @include breakpoint(medium) {
          @include absolute-center;
        }
      }
      .image-front {
        margin-bottom:rem-calc(20px);
      }
      .image-front,
      .image-back {
        width:95%;
        @include breakpoint(medium) {
          position:absolute;
          top:0;
          bottom:50%;
        }
        a {
          position:relative;
          display:block;
          overflow:hidden;
          width:100%;
          height:92%;
          background:rgba($black, 0.6);
        }
        p {
          color:$exhibit-detail-meta-heading-color;
          text-transform:uppercase;
          margin:rem-calc(2px) 0 0;
          &.image-position {
            @include breakpoint(medium) {
              position:absolute;
              top:92%;
            }
          }
        }
      }
      .image-back {
        top:50%;
        bottom:0;
        a {

        }
      }
    }
    .meta {
      @include breakpoint(medium) {
        @include flex-grid-column(6);
        position:relative;
        left:(( 100% / $grid-columns ) * 6);
        overflow-y:auto;
        margin-bottom:rem-calc(10px);
      }

      >header:first-of-type{

      }
      >div+div {
        margin-top:rem-calc(15px);
      }
      >div {
        >p, >ul {
          margin-left:rem-calc(15px);
        }
      }
    }

    h1 {
      @include heading(1);
      font-size:rem-calc(50px);
      line-height:rem-calc(50px);
      margin-top:rem-calc(7px);
      margin-bottom:rem-calc(40px);
    }
    h2 {
      @include heading(3);
      font-size:rem-calc(30px);
      @include underline();
      padding-bottom:rem-calc(5px);

      margin-bottom:rem-calc(8px);
    }
    .accession {
      @include breakpoint(medium) {
        position:absolute;
        bottom:rem-calc(5px);
        right:rem-calc(15px);
      }
      h2,p {
        @include bodycopy;
        display:inline;
        font-size:rem-calc(14px);
        color:$light-blue;
        text-transform:uppercase;
        &:after {
          border-bottom:0;
        }
      }
    }
  }
}

.pswp__top-bar {
  height:8vh;
  .pswp__button {
    height:8vh;
    background-image: none;
    position:relative;
    font: normal normal normal 50px/1 FontAwesome;
    margin:rem-calc(10px) rem-calc(20px) 0 0;
    &:after{
      color:$white;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
    }
    &.pswp__button--close:after {
      content:'\f057';
    }
    &.pswp__button--zoom:after {
      content:'\f00e';
    }
    span {
      visibility: hidden;
    }
  }
}
