footer#footer {
  color:$white;
  @include flex-grid-row();
  max-width:84%;
  >div {
    @include flex-grid-column(12);
    margin:rem-calc(5px) 0;
    @include breakpoint('medium') {
      @include flex-grid-column(4);
    }
  }
  .menu {
    display:block;
    @include mobile-buttons();
    li {
      display:block;
      flex:none;
      padding:0;
      margin:rem-calc(5px) 0;
      @include breakpoint('medium') {
        margin:rem-calc(10px) 0;
      }
      a {
        background-color:rgba($dark-blue,0.5);
        @include breakpoint('medium') {
          padding:0;
          background-color:transparent;
        }
      }

    }
  }
}
