.slideshow {
  @include breakpoint(medium) {
    @include grid-row();
  }
  @include orbit-wrapper;
  >div {
    @include breakpoint(medium) {
      @include grid-column(12);
    }
    >div {
      @include orbit-container;
      @include breakpoint(medium) {
        border-radius:10px;
        overflow:hidden;
      }
    }

  }
  figure {
    @include orbit-slide;

    >a {
      >img {
        @include orbit-image;
      }
      figcaption {
        @include orbit-caption;
        position:static;
        background-color:$black;
        @include breakpoint(medium) {
          position:absolute;
          background-color:rgba($black, 0.8);
          text-align:right;
        }
        h3 {
          margin-bottom:0;
        }
        p {
          font-size:rem-calc(16px);
        }
      }
    }

  }
  .slide-previous,.slide-next {
    @include orbit-control;
    cursor:pointer;
    background-color:transparent;
    text-indent:-99999em;
    &:after {
      position:absolute;

    }
  }
  .slide-previous {
    @include orbit-previous;
  }
  .slide-next {
    @include orbit-next;
  }
}
