//@function text-style() {
//  $style: map-get((
//      h1 :
//            ,
//  ), $style);
//}
//@mixin text-style($small: false,$medium: false,$large: false,$exlarge: false) {
//
//
//
//}

@mixin heading($size:2, $serif:false, $color:$exhibit-detail-meta-heading-color) {
  @if $serif {
    font-family:'Libre Baskerville', "Times New Roman", times serif;
  }
  @else {
    font-family: 'Bourbon-Regular', Arial, Helvetica, sans-serif;
  }
  color: $color;
  @if $size == 1 {
    font-size:rem-calc(25px);
    line-height:rem-calc(28px);
    margin-bottom:rem-calc(15px);
  }
  @if $size == 2 {
    font-size:rem-calc(22px);
    line-height:rem-calc(24px);
    margin-bottom:rem-calc(2px);
  }
  @if $size == 3 {
    font-size:rem-calc(20px);
    line-height:rem-calc(22px);
    margin-bottom:rem-calc(2px);
  }
  @if $size == 4 {
    font-size:rem-calc(18px);
    line-height:rem-calc(20px);
    margin-bottom:rem-calc(2px);
  }
  @if $size == 5 {
    font-size:rem-calc(16px);
    line-height:rem-calc(18px);
    margin-bottom:rem-calc(2px);
  }
  @if $size == 6 {
    font-size:rem-calc(14px);
    line-height:rem-calc(16px);
    margin-bottom:rem-calc(2px);
  }
  @if $size == 7 {
    font-size:rem-calc(13px);
    line-height:rem-calc(15px);
    margin-bottom:rem-calc(2px);
  }
}
@mixin bodycopy() {
  color: $white;
  font-family: 'Raleway','Arial','Helvetica', sans-serif;
  margin-bottom:rem-calc(15px);
}
@mixin underline(){
  position:relative;
  &:after {
    border-bottom:1.5px dotted $white;
    content:' ';
    width: 100%;
    position: absolute;
    bottom: -0.25rem;
    left: 0;
  }
}

p,li {
  @include bodycopy();
}
ul {
  margin:0;
}
li {
  list-style-type:none;
  margin-bottom:0;
}
a {
  &:link,&:visited {
    color:$white;
  }
  &:hover,&:focus {
    text-decoration:underline;
  }
}

p:last-of-type {
  margin-bottom:0;
}
